{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
<style >
#Register {
    width: 60vw;
    margin-top: 3vh;
    left: 15%;
    
    background: #121212;
    align-items: center;
}

</style>
{% endblock %}

{% block body %}
    <div class="card d-flex aligns-items-center" id="Register">
    <h1 style="color:#d6d6d6">Register</h1>
    <form method="POST">
        {{ form_start(registrationForm) }}
            <div class="mb-3 ">
            {{ form_row(registrationForm.email) }}
            </div>
            <div class="mb-3">
            {{ form_row(registrationForm.billing_address)}}
            </div>
            <div class="mb-3">
            {{ form_row(registrationForm.delivery_address)}}
            </div>
            <div class="mb-3">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            </div>
            <div class="mb-3">
            {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="btn btn-primary" >Register</button>
        {{ form_end(registrationForm) }}

    <form>
    </div>
{% endblock %}


