{% extends 'base.html.twig' %}

{% block title %}All Products!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #main-content {
        display: flex;
        flex-direction: row;
    }

    #product-block {
        margin: 10%;
        border: 1px solid white;
        text-align: center;
        width: 20vw;
    }

    #product-block img {
        margin-top: 3px;
        width: 20vw;
        height: auto;
    }

    #product-block h2 {
        text-align: left;
        font-size: 20px;
    }
    
</style>

<div class="example-wrapper">

    {# This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/osouf/OneDrive/Documents/Scolarité/SUPINFO/ASC2/2PHPD - PHP Developer/Projet/2PHPD/src/Controller/ProductsController.php'|file_link(0) }}">src/Controller/ProductsController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/osouf/OneDrive/Documents/Scolarité/SUPINFO/ASC2/2PHPD - PHP Developer/Projet/2PHPD/templates/products/index.html.twig'|file_link(0) }}">templates/products/index.html.twig</a></code></li>
    </ul> #}

    
        <div id="main-content">
        {% for product in products %}
            <div id="product-block">
                <img src="{{ product.displayImage }}" alt="">
                <h2>{{ product.name }}</h2>            
                <p> {{ product.price }} €</p>
                <p>{{ product.description }}</p>
            </div>
        {% endfor %}               
        </div>
    
</div>
{% endblock %}